{% for mirror in mirrors_list %}
{{ mirror }}
{% endfor %}

# This mirrors.txt was created via Ansible to conform with the Dark.Fail
# Onion Mirror Guidelines
#
# See https://dark.fail/spec/omg.txt for details on the spec itself or
# search Ansible Galaxy for "OMG" to find this role.
